* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  height: 3000px;
}

section.nav {
  background-color: white;
  -webkit-box-shadow: 0px 2px 2px  #80808026;
          box-shadow: 0px 2px 2px  #80808026;
  z-index: 9;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
}

section.nav nav {
  padding: 5px;
}

section.nav nav > a {
  color: #4070f4 !important;
}

section.nav nav > a img {
  width: 137px;
  height: auto;
}

section.nav nav div.collapse ul li {
  margin-left: 30px;
  font-size: 17px;
}

section.nav nav div.collapse ul li a {
  color: black !important;
  font-weight: 500;
}

section.nav nav div.collapse ul li .active {
  color: #4070f4 !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  section.nav {
    background-color: white;
    -webkit-box-shadow: 0px 2px 2px  #80808026;
            box-shadow: 0px 2px 2px  #80808026;
    z-index: 9;
    position: fixed !important;
    top: 0px;
    left: 0px;
    right: 0px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  section.nav {
    background-color: white;
    -webkit-box-shadow: 0px 2px 2px  #80808026;
            box-shadow: 0px 2px 2px  #80808026;
    z-index: 9;
    position: fixed !important;
    top: 0px;
    left: 0px;
    right: 0px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  section.nav {
    background-color: white;
    -webkit-box-shadow: 0px 2px 2px  #80808026;
            box-shadow: 0px 2px 2px  #80808026;
    z-index: 9;
    position: fixed !important;
    top: 0px;
    left: 0px;
    right: 0px;
  }
}

header .jumbotron1 {
  background-color: white;
  border-radius: .3rem;
}

header .jumbotron1 .container {
  overflow: hidden;
  margin-top: 180px;
}

header .jumbotron1 .container .text {
  width: 50%;
  float: left;
  margin-top: 86px;
}

header .jumbotron1 .container h1 {
  color: #0e2431;
  font-size: 60px;
  font-weight: bold;
}

header .jumbotron1 .container h1 span {
  color: #4070f4;
  font-weight: 500;
}

header .jumbotron1 .container .img {
  width: 40%;
  float: right;
}

header .jumbotron1 .container .img img {
  width: 100%;
  border: 1px solid transparent;
  border-radius: 20px;
}

header .jumbotron1 .container .btn-blue {
  background-color: #4070f4;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 40px;
}

header .jumbotron1 .container .btn-blue:hover {
  color: white;
  opacity: 0.9;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  section.nav {
    position: relative;
  }
  header .jumbotron1 {
    background-image: url(../images/header-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  header .jumbotron1 .container {
    margin-top: 60px;
  }
  header .jumbotron1 .container .text {
    display: block;
    width: 85%;
    float: none;
    margin: auto;
  }
  header .jumbotron1 .container .text h1 {
    font-size: 40px;
    color: white;
  }
  header .jumbotron1 .container .text .btn-blue {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 14px;
  }
  header .jumbotron1 .container .img {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  section.nav {
    position: relative;
  }
  header .jumbotron1 {
    background-image: url(../images/header-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  header .jumbotron1 .container {
    margin-top: 60px;
  }
  header .jumbotron1 .container .text {
    display: block;
    width: 85%;
    float: none;
    margin: auto;
  }
  header .jumbotron1 .container .text h1 {
    font-size: 48px;
    color: white;
  }
  header .jumbotron1 .container .text .btn-blue {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  header .jumbotron1 .container .img {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  section.nav {
    position: relative;
  }
  header .jumbotron1 {
    background-image: none;
  }
  header .jumbotron1 .container {
    margin-top: 60px;
  }
  header .jumbotron1 .container .text {
    display: block;
    width: 50%;
    float: left;
  }
  header .jumbotron1 .container .text h1 {
    font-size: 45px;
    color: #0e2431;
  }
  header .jumbotron1 .container .text .btn-blue {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 14px;
  }
  header .jumbotron1 .container .img {
    display: block;
    width: 40%;
    float: right;
    margin: 30px auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  section.nav {
    position: fixed;
  }
  header .jumbotron1 {
    background-image: none;
  }
  header .jumbotron1 .container {
    margin-top: 60px;
  }
  header .jumbotron1 .container .text {
    display: block;
    width: 50%;
    float: left;
    margin: auto;
  }
  header .jumbotron1 .container .text h1 {
    font-size: 55px;
    color: #0e2431;
  }
  header .jumbotron1 .container .text .btn-blue {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  header .jumbotron1 .container .img {
    display: block;
    width: 40%;
    float: right;
    margin-top: 60px;
  }
}

.about {
  margin-top: 80px;
  overflow: hidden;
}

.about .content {
  margin-bottom: 60px;
}

.about .content h2 {
  color: #4070f4;
  font-weight: bold;
  border-bottom: 4px solid #4070f4;
  /* border-width: 7px; */
  width: 103px;
  margin: auto;
}

.about .about-img {
  float: left;
}

.about .about-img img {
  width: 62%;
  border-radius: 10px;
}

.about .about-text {
  width: 50%;
  float: right;
  margin-top: 29px;
}

.about .about-text h4 {
  color: #0e2431;
  font-weight: bold;
  margin-bottom: 15px;
}

.about .about-text p {
  color: #0e2431;
  font-size: 17px;
  font-style: oblique;
  line-height: 1.7;
  word-spacing: 2px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .about {
    margin-top: 80px;
  }
  .about .content {
    margin-bottom: 60px;
  }
  .about .content h2 {
    color: #4070f4;
    font-weight: bold;
    border-bottom: 4px solid #4070f4;
    /* border-width: 7px; */
    width: 103px;
    margin: auto;
  }
  .about .about-img {
    float: none;
  }
  .about .about-img img {
    width: 70%;
    display: block;
    border-radius: 10px;
    margin: auto;
  }
  .about .about-text {
    width: 70%;
    display: block;
    float: none;
    margin: auto;
    margin-top: 29px;
  }
  .about .about-text h4 {
    color: #0e2431;
    font-weight: bold;
    margin-bottom: 15px;
  }
  .about .about-text p {
    color: #0e2431;
    font-size: 16px;
    font-style: oblique;
    line-height: 1.7;
    word-spacing: 1px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .about {
    margin-top: 80px;
  }
  .about .content {
    margin-bottom: 60px;
  }
  .about .content h2 {
    color: #4070f4;
    font-weight: bold;
    border-bottom: 4px solid #4070f4;
    /* border-width: 7px; */
    width: 103px;
    margin: auto;
  }
  .about .about-img {
    float: none;
  }
  .about .about-img img {
    width: 70%;
    display: block;
    border-radius: 10px;
    margin: auto;
  }
  .about .about-text {
    width: 70%;
    display: block;
    float: none;
    margin: auto;
    margin-top: 29px;
  }
  .about .about-text h4 {
    color: #0e2431;
    font-weight: bold;
    margin-bottom: 15px;
  }
  .about .about-text p {
    color: #0e2431;
    font-size: 16px;
    font-style: oblique;
    line-height: 1.7;
    word-spacing: 1px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .about {
    margin-top: 80px;
    overflow: hidden;
  }
  .about .content {
    margin-bottom: 60px;
  }
  .about .content h2 {
    color: #4070f4;
    font-weight: bold;
    border-bottom: 4px solid #4070f4;
    /* border-width: 7px; */
    width: 103px;
    margin: auto;
  }
  .about .about-img {
    float: left;
  }
  .about .about-img img {
    width: 90%;
    border-radius: 10px;
  }
  .about .about-text {
    width: 50%;
    float: right;
    margin-top: 29px;
  }
  .about .about-text h4 {
    color: #0e2431;
    font-weight: bold;
    margin-bottom: 15px;
  }
  .about .about-text p {
    color: #0e2431;
    font-size: 15px;
    font-style: oblique;
    line-height: 1.7;
    word-spacing: 1px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .about {
    margin-top: 80px;
    overflow: hidden;
  }
  .about .content {
    margin-bottom: 60px;
  }
  .about .content h2 {
    color: #4070f4;
    font-weight: bold;
    border-bottom: 4px solid #4070f4;
    /* border-width: 7px; */
    width: 103px;
    margin: auto;
  }
  .about .about-img {
    float: left;
  }
  .about .about-img img {
    width: 90%;
    border-radius: 10px;
  }
  .about .about-text {
    width: 50%;
    float: right;
    margin-top: 69px;
  }
  .about .about-text h4 {
    color: #0e2431;
    font-weight: bold;
    margin-bottom: 15px;
  }
  .about .about-text p {
    color: #0e2431;
    font-size: 17px;
    font-style: oblique;
    line-height: 1.8;
    word-spacing: 1px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .about {
    margin-top: 80px;
    overflow: hidden;
  }
  .about .content {
    margin-bottom: 60px;
  }
  .about .content h2 {
    color: #4070f4;
    font-weight: bold;
    border-bottom: 4px solid #4070f4;
    /* border-width: 7px; */
    width: 103px;
    margin: auto;
  }
  .about .about-img {
    float: left;
  }
  .about .about-img img {
    width: 62%;
    border-radius: 10px;
  }
  .about .about-text {
    width: 50%;
    float: right;
    margin-top: 49px;
  }
  .about .about-text h4 {
    color: #0e2431;
    font-weight: bold;
    margin-bottom: 15px;
  }
  .about .about-text p {
    color: #0e2431;
    font-size: 17px;
    font-style: oblique;
    line-height: 1.9;
    word-spacing: 2px;
  }
}

.skills {
  margin-top: 80px;
  overflow: hidden;
}

.skills .content {
  margin-bottom: 60px;
}

.skills .content h2 {
  color: #4070f4;
  font-weight: bold;
  border-bottom: 4px solid #4070f4;
  /* border-width: 7px; */
  width: 103px;
  margin: auto;
}

.skills .skills-text {
  width: 50%;
  float: left;
  margin-top: 29px;
}

.skills .skills-text h2 {
  color: #0e2431;
  font-weight: bold;
  margin-bottom: 15px;
}

.skills .skills-text p {
  color: #0e2431;
  font-size: 18px;
  font-style: oblique;
  line-height: 1.7;
  word-spacing: 2px;
}

.skills .skills-text .progress {
  position: relative;
  height: 25px;
}

.skills .skills-text .progress i {
  position: absolute;
  left: 10px;
  font-size: 25px;
}

.skills .skills-text .progress .one {
  color: #e85d25;
}

.skills .skills-text .progress .five {
  color: #00174e;
}

.skills .skills-text .progress .two {
  color: #f7df1e;
}

.skills .skills-text .progress .three {
  color: #563d7c;
}

.skills .skills-text .progress .four {
  color: #c51893;
}

.skills .skills-text .progress span {
  color: white;
  padding-left: 30px;
  font-size: 20px;
}

.skills .skills-img {
  width: 50%;
  float: right;
  margin-top: 80px;
}

.skills .skills-img img {
  width: 100%;
  border-radius: 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .skills {
    margin-top: 80px;
  }
  .skills .content {
    margin-bottom: 60px;
  }
  .skills .content h2 {
    color: #4070f4;
    font-weight: bold;
    border-bottom: 4px solid #4070f4;
    /* border-width: 7px; */
    width: 103px;
    margin: auto;
  }
  .skills .skills-img {
    width: 90%;
    float: none;
  }
  .skills .skills-img img {
    width: 100%;
    display: block;
    border-radius: 10px;
    margin: auto;
  }
  .skills .skills-text {
    width: 90%;
    display: block;
    float: none;
    margin: auto;
    margin-top: 29px;
  }
  .skills .skills-text h2 {
    color: #0e2431;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  .skills .skills-text p {
    color: #0e2431;
    font-size: 16px;
    font-style: oblique;
    line-height: 1.7;
    word-spacing: 1px;
  }
}

.work {
  margin-top: 60px;
  margin-bottom: 40px;
}

.work .content {
  margin-bottom: 60px;
}

.work .content h2 {
  color: #4070f4;
  font-weight: bold;
  border-bottom: 4px solid #4070f4;
  width: 103px;
  margin: auto;
}

.work .container .first {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work .container .first div.pis {
  width: 30%;
  margin-bottom: 25px;
  overflow: hidden;
  position: relative;
}

.work .container .first div.pis .open {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}

.work .container .first div.pis .move {
  left: 30%;
}

.work .container .first div.pis .link {
  position: absolute;
  top: 50%;
  left: 62%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}

.work .container .first div.pis .link a {
  color: white;
}

.work .container .first div.pis img {
  width: 100%;
  height: inherit;
  cursor: pointer;
  border-radius: 10px;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
}

.work .container .first div.pis img:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-filter: brightness(0.6);
          filter: brightness(0.6);
}

.work .modal-body img {
  -webkit-filter: brightness(1) !important;
          filter: brightness(1) !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 500px) {
  .first div.pis {
    width: 90% !important;
    margin-bottom: 25px;
  }
  .first div.pis img {
    width: 100% !important;
    display: block !important;
  }
  .first .move {
    left: 25% !important;
  }
  .first .link {
    position: absolute;
    top: 50%;
    left: 71% !important;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .first div.pis {
    width: 90% !important;
    margin-bottom: 25px;
  }
  .first div.pis img {
    width: 100% !important;
    display: block !important;
  }
  .first .move {
    left: 25% !important;
  }
  .first .link {
    position: absolute;
    top: 50%;
    left: 71% !important;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .first div.pis {
    width: 90% !important;
    margin-bottom: 25px;
  }
  .first div.pis img {
    width: 100% !important;
    display: block !important;
  }
  .first .move {
    left: 25% !important;
  }
  .first .link {
    position: absolute;
    top: 50%;
    left: 71% !important;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .first div.pis {
    width: 90% !important;
    margin-bottom: 25px;
  }
  .first div.pis img {
    width: 100% !important;
    display: block !important;
  }
  .first .move {
    left: 25% !important;
  }
  .first .link {
    position: absolute;
    top: 50%;
    left: 71% !important;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: none;
  }
}

.contact {
  margin-top: 60px;
  margin-bottom: 40px;
}

.contact .content {
  margin-bottom: 60px;
}

.contact .content h2 {
  color: #4070f4;
  font-weight: bold;
  border-bottom: 4px solid #4070f4;
  width: 140px;
  margin: auto;
}

.contact .form {
  width: 40%;
  margin: auto;
}

.contact #show {
  display: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 500px) {
  .form {
    width: 65% !important;
    margin: auto;
  }
}

.footer .jumbotron {
  background-color: #0e2431;
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 10px;
}

.footer .jumbotron h3 {
  color: white;
  margin-bottom: 40px;
}

.footer .jumbotron p {
  color: white;
  font-weight: bold;
  margin-top: 70px;
}

.footer .jumbotron span {
  margin: 15px;
}

.footer .jumbotron span a i {
  color: white;
  font-size: 30px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.footer .jumbotron span a i:hover {
  color: #4070f4;
}

.footer .jumbotron span:last-of-type img {
  width: 80px;
}

.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #0e2431;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99999999999999;
}

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4070f4;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #0e2431;
}

::-webkit-scrollbar-thumb {
  background-color: #4070f4;
  border-radius: 20px;
}
/*# sourceMappingURL=style.css.map */